/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face
{
  font-family:'Yanone Kaffeesatz-bold' ;
  src: url('./assets/client-fonts/YanoneKaffeesatz-Bold.otf')format("truetype");
  src: url('./assets/client-fonts/YanoneKaffeesatz-Bold.woff')format("truetype");
}
@font-face
{
  font-family:'Yanone Kaffeesatz-extralight' ;
  src: url('./assets/client-fonts/YanoneKaffeesatz-ExtraLight.otf')format("truetype");
  src: url('./assets/client-fonts/YanoneKaffeesatz-ExtraLight.woff')format("truetype");
}
@font-face
{
  font-family:'Yanone Kaffeesatz-light' ;
  src: url('./assets/client-fonts/YanoneKaffeesatz-Light.otf')format("truetype");
  src: url('./assets/client-fonts/YanoneKaffeesatz-Light.woff')format("truetype");
}
@font-face
{
  font-family:'Yanone Kaffeesatz-regular' ;
  src: url('./assets/client-fonts/YanoneKaffeesatz-Regular.otf')format("truetype");
  src: url('./assets/client-fonts/YanoneKaffeesatz-Regular.woff')format("truetype");
}
@font-face
{
  font-family:'Varela' ;
  src: url('./assets/client-fonts/varela/Varela-Regular.otf')format("truetype");
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #72C7C4;
} 
.mat-tab-label
{
    font-size: 17px;
    font-family: 'Yanone Kaffeesatz-bold', sans-serif;
}
th.mat-header-cell
{
  font-family: 'Yanone Kaffeesatz-bold', sans-serif;
  font-size: 16px;
}
td.mat.cell, ng-select, .lableId
{
  font-family: 'Varela Round', sans-serif !important;
}
.mat-step-header .mat-step-icon-selected
{
  background-color: #72C7C4;
  color: #ffffff;
}
.mat-step-header .mat-step-label.mat-step-label-active
{
  color: #72C7C4;
  font-family: 'Yanone Kaffeesatz-bold', sans-serif;
}
.mat-step-text-label
  {
    font-family: 'Yanone Kaffeesatz-bold', sans-serif;
    font-size: 16px;
  }
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(223, 223, 223);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #72C7C4;
}
input, textarea
{
  font-family: 'Varela' !important;
}
/* ::placeholder
{
  color: #A8A8A8 !important;
} */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled), .mat-form-field.mat-focused.mat-primary .mat-select-arrow
{
  color: #72C7C4 !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple 
{
  background-color: #72C7C4 !important;
}
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #72C7C4 !important;
}

